<div class="container ewing">
  <div class="header">
    <h3>CAP Cancer Protocol for Pediatric Ewing Sarcoma (v 3.2.0.0)</h3>
    <p>Based on AJCC/UICC TNM, 7th edition</p>
  </div>
  <div class="boddy">
    <form class="form-horizontal myform">
      <div class="caseno">
        <label>Case No:</label>
        <input type="text" value="" size="5" \>
      </div>
      <textarea>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</textarea>
    </form>
  </div>
  <div class="footer">
    <button type="button" class="btn btn-info">Preview</button>
    <button type="button" class="btn btn-info">PDF</button>
    <button type="button" class="btn btn-info">CAP</button>
  </div>
</div>